*{
    padding: 0;
    margin: 0;
}
.auth-container{
    background-image: url("./assets/img/background.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 100vh;
    overflow: hidden;
}
.bg-overlay{
    background-image: linear-gradient(45deg,rgba(47, 140, 96, 0.63),rgba(0, 0, 0, 0.62));
}
.title p{
    color:rgb(122, 121, 121);
}
.sidebar {
    height: 100vh;
    position: fixed;
  }